<div class="cards-card">

  <div class="cards-card-name">{{card.name}}</div>

  <a
    class="cards-card-img"
    href="/{{region}}/{{language}}/set/{{card.set}}/card/{{card.slug}}"
    >

    <img src="{{card.imageUrl}}" />

  </a>

</div>
