{{>templates/open page='login'}}

{{>templates/header}}

<main class="login-page">

  <div class="container">

    <h1>Admin</h1>

    <section
      class="collections"
      data-role="toggle-admin-view"
      >

      <h2>Site Collections/Tables</h2>

      <form
        data-form-add="collection"
        >

        <input
          name="collectionName"
          placeholder="collectionName"
          type="text"
          />

        <input
          type="submit"
          />

      </form>

    </section>

    <section
      class="strings"
      data-role="toggle-admin-view"
      >

      <h2>Strings</h2>

      <form
        data-string="create"
        >

        <div
          class="form-heading"
          >

          {{translate 'CREATE-TRANSLATED-STRING'}}

        </div>

        <input
          name="slug"
          placeholder="slug"
          type="input"
          />

        <input
          name="text"
          placeholder="text"
          type="input"
          />

        |

        <input
          type="submit"
          value="submit"
          />

      </form>

      {{#each strings}}

        <div
          class="string"
          >

          <strong
            data-edit-string="{{@key}}"
            >

            {{@key}}:

          </strong>

        </div>

      {{/each}}

    </section>

    <section class="sets">

      <h2>Sets</h2>

      <table>

        <tr>

          <th>Name</th>

          <th>Edit</th>

          <th>isActive</th>

          <th>Import Set</th>

        </tr>

        {{#each sets as |set index|}}

          <tr class="set" data-set={{set.code}}>

            <td class="set-info mod-name">

              <a href="/{{../settings.region}}/{{../settings.language}}/set/{{set.code}}/">{{set.name}}</a>

            </td>

            <td class="set-info mod-edit">

              <a data-edit-set="{{set.code}}" href="">Edit</a>

            </td>

            <td class="set-info mod-isActive">

            {{#if set.isImported}}

              <a
                data-update-set="toggleActive"
                href=""
                >

                {{#if set.isActive}}

                  {{set.isActive}}

                {{else}}

                  false

                {{/if}}

              </a>

            {{else}}

                false

            {{/if}}

            </td>

            <td class="set-info mod-name">

              <a
                data-import-set="{{set.code}}"
                href=""
                >

                {{#if set.isImported}}

                  Re-Import

                {{else}}

                  Import

                {{/if}}

              </a>

            </td>

          </tr>

        {{/each}}

      </table>

    </section>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
