{{>templates/open page='product'}}

{{>templates/header}}

<main class="product-page">

  <div class="container">

    <div>Set: {{this.firePageData.name}}</div>

    <div>Code: {{this.firePageData.code}}</div>

    <div>Release Date: {{this.firePageData.releaseDate}}</div>

    <div>Type: {{this.firePageData.type}}</div>

    {{#if this.firePageData.block}}
      <div>Block: {{this.firePageData.block}}</div>
    {{/if}}

    <div class="card">

      <div>Name: {{firePageData.card.name}}</div>

      <div><img src="{{firePageData.card.imageUrl}}" /></div>

    </div>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
