{{>templates/open page='product'}}

{{>templates/header}}

<main class="product-page">

  <div class="container">

    <div>Set: <a data-import-set="{{this.firePageData.code}}" href="">{{this.firePageData.name}}</a></div>

    <div>Code: {{this.firePageData.code}}</div>

    <div>Release Date: {{this.firePageData.releaseDate}}</div>

    <div>Type: {{this.firePageData.type}}</div>

    <div>Block: {{this.firePageData.block}}</div>

    <div class="cards">

      {{#each this.firePageData.cards as |card index|}}

        {{>partials/card card=card}}

      {{/each}}

    </div>

  </div>

</main>

{{>templates/footer}}

{{>templates/close}}
